*.foreground:   #f3ebfc
*.background:   #11151a
*.cursor:       #FFB3BF

! Regular Set
*.color0:  #020619
*.color1:  #f3ebfc
*.color2:  #bd0cd7
*.color3:  #8080ff
*.color4:  #dd3c56
*.color5:  #ea9fab
*.color6:  #9c1f33
*.color7:  #d34e2d

! Bold Set
*.color8:  #020619
*.color9:  #f3ebfc
*.color10: #bd0cd7
*.color11: #8080ff
*.color12: #dd3c56
*.color13: #ce698e
*.color14: #9c1f33
*.color15: #d34e2d
