*.foreground:   #f3ebfc
*.background:   #11151a
*.cursor:       #FFB3BF

! Regular Set
*.color0:  #020619
*.color1:  #f3ebfc
*.color2:  #b70bda
*.color3:  #ce7cd5
*.color4:  #944aeb
*.color5:  #7031ae
*.color6:  #d34e2d
*.color7:  #d1a62e

! Bold Set
*.color8:  #020619
*.color9:  #f3ebfc
*.color10: #b70bda
*.color11: #ce7cd5
*.color12: #944aeb
*.color13: #7031ae
*.color14: #d34e2d
*.color15: #d1a62e
